In [15]:
import matplotlib.pyplot as plt
import sys
import numpy as np
np.set_printoptions(threshold=sys.maxsize)
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

pd.set_option("display.max_columns",100, 'display.max_rows',100)

In [16]:
shows_played = 0
num_venues = 0
avg_revenue = 0 
total_revenue = 0 
avg_ticket_price = 0 
tickets_sold = 0

In [17]:
d = np.array([[shows_played,num_venues,avg_revenue,total_revenue,avg_ticket_price,tickets_sold]])

artist_df = pd.DataFrame(   data = d, 
                            columns = ['shows_played','num_venues','avg_revenue','total_revenue',
                                        'avg_ticket_price','tickets_sold'])

In [18]:
#parameters for later use

venue_name = np.array(['Ball Arena','Summit Music Hall','Marquis Theater','Dazzle',
                                    "Ophelia's Electric Soapbox","Herb's","Black Buzzard","Paramont Theatre",
                                    "Roxy Theatre","Cervantes & The Other Side","Mission Ballroom","Larimer Lounge",
                                    "Globe Hall","Ogden Theatre","Lost Lake","Walnut Room","Globe Hall","Your Mom's House",
                                    "Herman's Hideway","Broadway Roxy"])

show_col = ['show_id','name', 'age', 'gender', 'tickets_bought']

In [19]:
#artist database

shows_played = 0
num_venues = 0
avg_revenue = 0 
total_revenue = 0 
avg_ticket_price = 0 
tickets_sold = 0

artist = np.array([[shows_played,num_venues,avg_revenue,total_revenue,avg_ticket_price,tickets_sold]])

artist_df = pd.DataFrame(   data = artist, 
                            columns = ['shows_played','num_venues','avg_revenue','total_revenue',
                                        'avg_ticket_price','tickets_sold'])

In [20]:
#generating buyer profile

def buyer_show(show_num):
    ''' 
        creates buyer profile to be added to panda dataframe
        show_num = show number
    '''
    show_id = show_num
    name = np.random.choice(['Kirsty Millington', 'Donald McSherry', 'Charlotte Worth', 'Andre Botelho', 
                            'Keanu Reeves', 'John Travolta', 'Danzel Washington', 'Marlon Brandon', 
                            'Reese Witherspoon', 'Maryl Strip', 'Mari Nishida', 'Dustin Hoffman', 
                            'Bruce Wayne','Tony Stark', 'Peter Parker', 'Scarlett Johanssen', 
                            'Cristina Abdalla','Ronda Rousey','Joel Miller', 'Kalum Rooney',
                            'Luna Timms', 'Margaux Wolfe','Nazifa Jimenez','Wasim Gaines','Oliver Case',
                            'Aizah North','Harry Goodwin','Kerys Peralta', 'Bear Williamson',
                            'Dani Cunningham', 'Jayda Hutchings','Kobie Sears','Julie Wallace',
                            'Garry Mclellan','Virgil Gibbs','Alan Marquez','Fraser Barron'], replace=False)

    age = np.random.randint(18, 50)
    gender = np.random.choice(['M','F','NB','T'])
    num_bought = np.random.randint(1,5)
    tickets_bought = np.random.randint(1,5)


    buyer_profile = [show_num, name,age,gender, tickets_bought]

    return buyer_profile

In [21]:
#generating the dataframe per show and adding constant features per show

def generate_df(num, show_num, v):
    '''
    num (int) = total attendees sold
    v (str) = venue name
    '''
    show_data = []
    
    for i in range(num):
        show_data.append(buyer_show(show_num))

    show_df = pd.DataFrame(data = show_data, columns = show_col)

    show_df['ticket_price']=np.random.choice(np.array([5,10,15,20]))
    show_df['total_revenue']= show_df['ticket_price']*show_df['tickets_bought']
    show_df['venue_name'] = v

    return show_df

In [22]:
#concatenating the data for different shows

def concat_shows(original_df, to_concat_df):
    show_df = pd.concat((original_df, to_concat_df), axis=0)
    show_df.reset_index(inplace=True, drop=True)
    return show_df

In [23]:
show1 = generate_df(np.random.randint(1, 31),1, np.random.choice(venue_name))
show2 = generate_df(np.random.randint(1, 31),2, np.random.choice(venue_name))
show3 = generate_df(np.random.randint(1, 31),3, np.random.choice(venue_name))
show4 = generate_df(np.random.randint(1, 31),4, np.random.choice(venue_name))
show5 = generate_df(np.random.randint(1, 31),5, np.random.choice(venue_name))

In [24]:
show_df = concat_shows(show1, show2)
show_df = concat_shows(show_df, show3)
show_df = concat_shows(show_df, show4)
show_df = concat_shows(show_df, show5)

In [25]:
show_df['venue_name'].unique()

array(['Lost Lake', 'Larimer Lounge', "Ophelia's Electric Soapbox",
       'Roxy Theatre', 'Black Buzzard'], dtype=object)

In [26]:
show_df

,show_id,name,age,gender,tickets_bought,ticket_price,total_revenue,venue_name
0,1,Scarlett Johanssen,36,NB,1,20,20,Lost Lake
1,1,Garry Mclellan,44,M,3,20,60,Lost Lake
2,1,Virgil Gibbs,25,M,2,20,40,Lost Lake
3,1,Luna Timms,42,NB,4,20,80,Lost Lake
4,1,Kalum Rooney,39,F,2,20,40,Lost Lake
5,2,Dani Cunningham,37,NB,2,5,10,Larimer Lounge
6,2,Fraser Barron,30,T,1,5,5,Larimer Lounge
7,2,Marlon Brandon,46,T,3,5,15,Larimer Lounge
8,2,Dustin Hoffman,29,T,1,5,5,Larimer Lounge
9,2,Nazifa Jimenez,38,F,4,5,20,Larimer Lounge
10,2,Fraser Barron,49,F,3,5,15,Larimer Lounge
11,2,Reese Witherspoon,18,T,4,5,20,Larimer Lounge
12,2,Bear Williamson,34,M,2,5,10,Larimer Lounge
13,2,Bruce Wayne,33,F,1,5,5,Larimer Lounge
14,2,Tony Stark,27,NB,3,5,15,Larimer Lounge
15,2,Peter Parker,24,F,1,5,5,Larimer Lounge
16,2,Scarlett Johanssen,19,NB,4,5,20,Larimer Lounge
17,2,Kerys Peralta,29,NB,1,5,5,Larimer Lounge
18,2,Kerys Peralta,21,M,2,5,10,Larimer Lounge
19,2,Dani Cunningham,44,T,4,5,20,Larimer Lounge
20,2,Fraser Barron,47,F,2,5,10,Larimer Lounge
21,2,Harry Goodwin,23,F,4,5,20,Larimer Lounge
22,2,Fraser Barron,21,NB,2,5,10,Larimer Lounge
23,2,Bear Williamson,46,M,4,5,20,Larimer Lounge
24,2,Reese Witherspoon,30,T,2,5,10,Larimer Lounge
25,2,Kirsty Millington,20,T,1,5,5,Larimer Lounge
26,2,Alan Marquez,34,T,1,5,5,Larimer Lounge
27,2,Fraser Barron,39,NB,3,5,15,Larimer Lounge
28,2,Fraser Barron,37,F,1,5,5,Larimer Lounge
29,2,Virgil Gibbs,47,M,1,5,5,Larimer Lounge
30,2,Marlon Brandon,37,F,2,5,10,Larimer Lounge
31,2,Charlotte Worth,31,NB,1,5,5,Larimer Lounge
32,3,Dustin Hoffman,18,T,2,5,10,Ophelia's Electric Soapbox
33,3,Maryl Strip,23,F,1,5,5,Ophelia's Electric Soapbox
34,3,Tony Stark,42,T,3,5,15,Ophelia's Electric Soapbox
35,3,Cristina Abdalla,38,M,1,5,5,Ophelia's Electric Soapbox
36,3,Andre Botelho,22,T,4,5,20,Ophelia's Electric Soapbox
37,3,Scarlett Johanssen,45,F,1,5,5,Ophelia's Electric Soapbox
38,3,Oliver Case,28,NB,3,5,15,Ophelia's Electric Soapbox
39,3,Peter Parker,28,NB,3,5,15,Ophelia's Electric Soapbox
40,3,Alan Marquez,37,T,4,5,20,Ophelia's Electric Soapbox
41,3,Dani Cunningham,38,T,3,5,15,Ophelia's Electric Soapbox
42,3,Donald McSherry,38,M,1,5,5,Ophelia's Electric Soapbox
43,3,Andre Botelho,18,F,1,5,5,Ophelia's Electric Soapbox
44,3,Reese Witherspoon,30,M,4,5,20,Ophelia's Electric Soapbox
45,3,Reese Witherspoon,25,M,2,5,10,Ophelia's Electric Soapbox
46,3,Jayda Hutchings,49,NB,1,5,5,Ophelia's Electric Soapbox
47,3,Ronda Rousey,47,T,4,5,20,Ophelia's Electric Soapbox
48,3,Marlon Brandon,47,NB,4,5,20,Ophelia's Electric Soapbox
49,3,Charlotte Worth,44,M,3,5,15,Ophelia's Electric Soapbox
50,3,Dustin Hoffman,44,T,1,5,5,Ophelia's Electric Soapbox
51,3,Virgil Gibbs,34,T,3,5,15,Ophelia's Electric Soapbox
52,4,Garry Mclellan,32,T,3,15,45,Roxy Theatre
53,4,Luna Timms,25,M,1,15,15,Roxy Theatre
54,4,Reese Witherspoon,44,NB,3,15,45,Roxy Theatre
55,4,Wasim Gaines,20,M,3,15,45,Roxy Theatre
56,4,Marlon Brandon,43,T,3,15,45,Roxy Theatre
57,4,Garry Mclellan,22,M,3,15,45,Roxy Theatre
58,4,Garry Mclellan,39,NB,1,15,15,Roxy Theatre
59,5,Fraser Barron,22,NB,2,10,20,Black Buzzard
60,5,Wasim Gaines,21,F,1,10,10,Black Buzzard
61,5,Joel Miller,36,T,3,10,30,Black Buzzard
62,5,Julie Wallace,42,NB,4,10,40,Black Buzzard
63,5,Marlon Brandon,35,F,4,10,40,Black Buzzard
64,5,Scarlett Johanssen,22,M,1,10,10,Black Buzzard
65,5,Danzel Washington,20,M,3,10,30,Black Buzzard
66,5,Bear Williamson,39,F,4,10,40,Black Buzzard
67,5,Peter Parker,34,NB,1,10,10,Black Buzzard
68,5,Nazifa Jimenez,27,M,3,10,30,Black Buzzard
69,5,Kobie Sears,43,M,4,10,40,Black Buzzard
70,5,Tony Stark,35,T,1,10,10,Black Buzzard
71,5,John Travolta,25,T,2,10,20,Black Buzzard
72,5,Luna Timms,27,NB,2,10,20,Black Buzzard
73,5,Dani Cunningham,22,M,1,10,10,Black Buzzard
74,5,Luna Timms,45,M,4,10,40,Black Buzzard